.swagger-ui {
  --swagger-colorfx-mix: 95%
}

/*
More space
*/

.markdown-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

section.content {
  padding-right: 0px !important;
}

/*
Text
  Font
  Color
  size
*/

.swagger-ui,
.swagger-ui p,
.opblock-summary-path,
.opblock-summary-description,
.swagger-ui .opblock .opblock-summary-path__deprecated,
h2.title,
.opblock-tag-section h3:first-child,
span.schemes-title,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui label,
.swagger-ui .btn,
.markdown-section h2:first-child,
.swagger-ui input,
.swagger-ui select,
.swagger-ui section.models h4,
.swagger-ui .model-title,
.swagger-ui .model,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui table thead tr th,
.swagger-ui table thead tr td,
.swagger-ui .parameter__name,
.swagger-ui .errors-wrapper,
.swagger-ui textarea,
.swagger-ui .tab li,
.swagger-ui .response-col_status,
.swagger-ui .responses-inner h5,
.swagger-ui .responses-inner h4,
.swagger-ui .errors-wrapper .errors h4,
.swagger-ui .errors-wrapper hgroup h4,
.loading::after,
.swagger-ui [class*="__title"]
{
  color: var(--base-color) !important;
}

.markdown-section h4:first-child {
  color: var(--notice-warning-color) !important;
}

pre.base-url {
  margin: var(--code-inline-margin);
  padding: var(--code-inline-padding);
  border-radius: var(--code-inline-border-radius);
  background: var(--code-inline-background);
  color: var(--code-inline-color) !important;
  font-family: var(--code-font-family) !important;
  font-size: var(--code-font-size) !important;
}

.swagger-ui .info p,
.swagger-ui .scopes h2,
.swagger-ui .info a,
.swagger-ui .info a:hover,
.swagger-ui .scopes h2 a,
.swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui .info hgroup.main a
{
  font-size: var(--base-font-size);
}

/* 
Links
  Color
*/

.swagger-ui .info a,
.swagger-ui .info a:hover,
.swagger-ui .scopes h2 a
{
  color: var(--link-color);
}

/*
Scheme- & Auth block
  Color
*/

.swagger-ui .opblock .opblock-section-header,
.swagger-ui .scheme-container {
  background: var(--sidebar-background);
}

.swagger-ui .btn.authorize,
.swagger-ui .btn.authorize svg
{
  border-color: var(--notice-tip-color);
  color: var(--notice-tip-color);
  fill: var(--notice-tip-color);
}

.swagger-ui .btn.cancel {
  border-color: var(--notice-attention-color);
}

/*
Version Tag
  color
*/

.swagger-ui .info .title small.version-stamp {
  background: var(--notice-tip-color);
}

/*
SVGs
  color
*/

.swagger-ui button {
  fill: var(--base-color);
}

/*
Auth Modal
  colors
*/

.swagger-ui .dialog-ux .modal-ux {
  background: var(--base-background-color);
  border: unset;
}

.swagger-ui .auth-container input[type="text"],
.swagger-ui .checkbox input[type="checkbox"] + label > .item,
.swagger-ui input[disabled],
.swagger-ui input[type="text"]:not(.invalid),
.swagger-ui input[type="file"],
.swagger-ui textarea {
  background-color: var(--sidebar-background) !important;
  border: unset;
  box-shadow: unset;
}

.swagger-ui input[type="text"].invalid {
  background-color: color-mix(in srgb, var(--notice-attention-color), var(--sidebar-background) var(--swagger-colorfx-mix));
}

.swagger-ui select {
  background: var(--sidebar-background) !important;
  appearance: button;
}

.swagger-ui .dialog-ux .modal-ux-header,
.swagger-ui .auth-container {
  border-color: var(--base-color);
}

.swagger-ui .btn.execute {
  color: white !important;
  border: unset;
  background-color: var(--notice-note-color);
}

.swagger-ui .errors-wrapper {
  background: color-mix(in srgb, var(--notice-attention-color), var(--sidebar-background) var(--swagger-colorfx-mix));
  border-color: var(--notice-attention-color);
}

/*
API endpoints
  colors
*/

.swagger-ui .opblock.opblock-get .opblock-summary-method { background: var(--notice-note-color); }
.swagger-ui .opblock.opblock-get {
  background: color-mix(in srgb, var(--notice-note-color), var(--sidebar-background) var(--swagger-colorfx-mix));
  border-color: var(--notice-note-color);
}

.swagger-ui .opblock.opblock-post .opblock-summary-method { background: var(--notice-tip-color); }
.swagger-ui .opblock.opblock-post {
  background: color-mix(in srgb, var(--notice-tip-color), var(--sidebar-background) var(--swagger-colorfx-mix));
  border-color: var(--notice-tip-color);
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method { background: var(--notice-attention-color); }
.swagger-ui .opblock.opblock-delete {
  background: color-mix(in srgb, var(--notice-attention-color), var(--sidebar-background) var(--swagger-colorfx-mix));
  border-color: var(--notice-attention-color);
}

.swagger-ui .opblock.opblock-put .opblock-summary-method { background: var(--notice-warning-color); }
.swagger-ui .opblock.opblock-put {
  background: color-mix(in srgb, var(--notice-warning-color), var(--sidebar-background) var(--swagger-colorfx-mix));
  border-color: var(--notice-warning-color);
}

/*
Models
  Color
*/

.swagger-ui section.models .model-container {
  background: var(--table-row-even-background);
}

.swagger-ui section.models .model-container:hover {
  background: var(--sidebar-background);
}
